<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#header').load("header.html");
            $('#footer').load("footer.html");
        });
    </script>
        <!--        https://stackoverflow.com/questions/54924823/is-there-a-way-to-import-html-into-an-html-file
        this code was stolen from the above link
            -->
</head>
<body>

<div id="header"></div>
your content........
<div id="footer"></div>
</body>
</html>